html,body{
    padding: 0;
    margin: 0;
}

body{
    padding: 15px;
    background-color: #e7e7e7;
}
.layui-form{
    width: 500px;
}

/* 设置卡片主体区域的宽度 */
/* .layui-card-body {
    width: 500px;
  } */

.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Add_form{
    padding: 30px;
    width: 300px;
    
}
